//--BASE--//
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: inherit;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
